@charset "UTF-8";

*{margin: 0; padding: 0;}

body{
    background-color: #efad1c;
}

#animation{
    width: 400px; height: 300px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    background-image: url(animation.gif);
    animation: ani 1s steps(24,start) infinite;
    animation-play-state: paused;   /* 창을 처음 열었을 때 gif가 정지상태(실행하고 싶으면 이 줄을 없애면 됨) */
}

#animation.paused{
    animation-play-state: paused;
}
#animation.running{
    animation-play-state: running;
}


.btn{}
.btn a{
    text-decoration: none;
    color: #fff; background-color: #ff8433;
    padding: 8px 10px;
    display: inline-block;    /* a태그는 인라인요소. 따라서 우리가 예측하지 못한 공간을 가지고 있음. */
}

@keyframes ani{
    0%{background-position: 0 0;}
    100%{background-position: -9600px 0;}
}